[user]
	name = A022495
	email = A022495@progressive.com
[http]
	sslVerify = true
	sslCAInfo = /Users/a022495/.cert/PGR.crt
[https]
	sslVerify = true
[core]
	symlinks = true
	autocrlf = input
	quotepath = false
[alias]
	co = checkout
	br = branch
	unstage = reset HEAD --
	ci = commit
	cm = commit -m
	stat = status
	lst = log -1 HEAD
	snatch = !git fetch --prune && git branch -vv | grep 'origin/.*: gone]' | awk '{print $1}' | xargs git branch -D
	nah = !git reset --hard && git clean -df
	amend = commit --amend --no-edit
	update = pull --rebase origin develop
	root = rev-parse --show-toplevel
[pack]
	windowMemory = 100m
	packSizeLimit = 100m
	threads = 1
[credential "https://github.com"]
	username = A022495
[credential]
	helper = cache --timeout=86400
